.header{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        cursor: pointer;
    }
    & > button{
        background-color: beige;
        border: 1px solid black;
        border-radius: 20px;
        padding: 3px 5px;
        cursor: pointer;
        &:hover{
            scale: 1.05;
        }
    }
}